{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문내역 확인하기</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
  <div class="cartDetailWrap">
    {% include 'header.html' %}
    <div class="cartDetailTapWrap">
        <div class="cartDetailTop">
          <h3>서빙완료</h3>
          <div class="cartButton">
              <img src="{% static 'img/cart.png'' %}" />
              <p>식사주문</p>
          </div>
        </div>
        <div class="cartDivision"></div>
        <div class="cartDetailInfo">
            <div>
                <p>좌석번호</p>
                <p>flnsdgioegoehgosdg</p>
            </div>
            <div>
                <p>주문시간</p>
                <p>2023.01.19 16:00:00</p>
            </div>
        </div>
        <div class="cartDivision"></div>
        <div class="cartDetailMenuInfo">
            <h3>주문내역</h3>
            <div>
                <p>- 치즈김밥</p>
                <p>3,5000원</p>
            </div>
            <div>
                <p>- 치즈김밥</p>
                <p>3,5000원</p>
            </div>
            <div>
                <p>- 치즈김밥</p>
                <p>3,5000원</p>
            </div>
        </div>
        <div class="cartDivision"></div>
        <div class="cartTotalPrice">
            <h3>총 상품금액</h3>
            <h3>10,000원</h3>
        </div>
        <div class="cartDivision"></div>
        <div class="cartUserInfo">
            <h3>주문자 정보</h3>
            <div>
                <p>이름</p>
                <p>이혜린</p>
            </div>
            <div>
                <p>연락처</p>
                <p>010-7561-0561</p>
            </div>
        </div>
    </div>
  </div>
</body>
</html>