{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문내역 확인하기</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
  <div class="cartDetailWrap">
    {% include 'header.html' %}
    <div class="cartDetailTapWrap">
        <div class="cartDetailTop">
            {% if order.status == "none" %}
                <h3>주문확인중..</h3>
            {% elif order.status == "in_progress" %}
                <h3>조리중..</h3>
            {% else %}
                <h3>조리완료</h3>
            {% endif %}
          <div class="cartButton">
              <img src="{% static 'img/cart.png'' %}" />
              <p>식사주문</p>
          </div>
        </div>
        <div class="cartDivision"></div>
        <div class="cartDetailInfo">
            <div>
                <p>주문번호</p>
                <p>{{order.id}}</p>
            </div>
            <div>
                <p>주문시간</p>
                <p>{{order.created_at|date:'Y-m-d H:i'}}</p>
            </div>
        </div>
        <div class="cartDivision"></div>
        <div class="cartDetailMenuInfo">
            <h3>주문내역</h3>
            {% for item in order.menu_order_set.all %}
                <div>
                    <p>- {{item.menu.name}} x {{item.quantity}}</p>
                    <p>{{item.get_price}}원</p>
                </div>
            {% endfor %}

        </div>
        <div class="cartDivision"></div>
        <div class="cartTotalPrice">
            <h3>총 상품금액</h3>
            <h3>{{order.total_price}}원</h3>
        </div>
        <div class="cartDivision"></div>
        <div class="cartUserInfo">
            <h3>주문자 정보</h3>
            <div>
                <p>이름</p>
                <p>{{order.user.get_full_name}}</p>
            </div>
            <div>
                <p>연락처</p>
                <p>{{order.user.get_phone_num}}</p>
            </div>
        </div>
    </div>
  </div>
</body>
</html>
