{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
  <div class="cartWrap">
    {% include 'header.html' %}
    <div class="cartTitle">
      <h2>주문 내역</h2>
    </div>
      {% for order in order_list %}
        <div class="cartList">
            <div class="cartTapTop">
                <div class="cartTapTopLeft">
                    <div class="cartButton">
                        <img src="{% static 'img/cart.png'' %}" />
                        <p>식사 주문</p>
                    </div>
                    <div class="cartTime">
                        {{order.created_at|date:'Y-m-d H:i'}}
                    </div>
                </div>
                {% if order.status == "none" %}
                    <a href = "{% url 'food:order_delete' order.id %}" id="cartCheckLink">
                        <p class="cartTapTopRight">
                            주문취소
                        </p>
                    </a>

                {% else %}
                    <p class="cartTapTopRight">

                    </p>
                {% endif %}
            </div>
            <div class="cartTapBottom">
                <div class="cartMenuImg">
                    <img src="{% static 'img/yoon.jpeg'' %}" />
                </div>
                <div class="cartMenuInfo">
                    <p class="cartMenuName">윤가네</p>
                    <p class="cartMenuIntro">상명대 대표 맛집</p>
                    <div>
                        <button onclick="location.href='{% url 'main:index' %}'">재주문</button>
                        <button onclick="location.href='{% url 'food:order_detail' order.id %}'">주문상세</button>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
  </div>
</body>
</html>
