{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원정보수정</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="editInfoWrap">
        {% include 'header.html' %}
        <div class="editInfo">
            <h3>내 정보 수정</h3>
            <form action = "{% url 'account:user_update' %}" method = "post">
                {% csrf_token %}
                <div class="editInfoBox">
                    <div>
                        <p>이름</p>
                        <input type="text" name = "name" value="{{user.get_full_name}}"/>
                    </div>
                    <div>
                        <p>아이디</p>
                        <input type="text" name = "username" value = "{{user.username}}" disabled/>
                    </div>
                    <div>
                        <p>비밀번호</p>
                        <input type="password" name = "password" placeholder="새 비밀번호"/>
                    </div>
                    <div>
                        <p>번호</p>
                        <input type="text" name = "phone_number" value = "{{user.phone_number}}"/>
                    </div>
                </div>
                <input type = "submit" id = "editSB" style = "display:none">
            </form>
            <div class="signupBtWrap">
                <button id= "editBT" class="loginBt">정보 수정</button>
                <button class="loginBt" onclick = "location.href = '{% url 'account:user_delete' %}'">회원 탈퇴</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type = "text/javascript">
        $("#editBT").click(function(){
            $("#editSB").trigger("click")
        })
    </script>
</body>
</html>
